.topbar {
  padding: 0px calc(100vw - 95%);
  background: red;

  .top {
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logotext {
      font-weight: 800;
      font-size: 35px;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .profil-container {
        display: flex;
        align-items: center;

        .icon-profil {
          width: 35px;
          border-radius: 50%;
        }
      }
    }
  }
}
