.home {
  .section-blue {
    background: var(--info-pressed);
    color: var(--neutral-light-10);
  }

  .section {
    @extend %container;
    .cards {
      display: flex;
      // align-items: center;
      // justify-content: space-around;
      // padding: 15px;
      // flex-wrap: wrap;
      gap: 30px;
    }

    .services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
      justify-content: center;
      align-content: center;
      justify-items: center;
      gap: 30px;

      .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 0.25rem;
        background-color: var(--neutral-light-20);
        box-shadow: 0 0.125rem 0.25rem var(--primary-focus);
        transition: transform 0.3s ease-in-out;
        max-width: 300px;

        &:hover {
          transform: translateY(-0.25rem);
        }

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-color: var(--info);
          color: var(--neutral-light-10);
          font-size: 20px;
        }

        h1 {
          font-size: 23px;
          text-align: center;
          line-height: 30px;
          color: var(--info);
          padding: 10px;
        }

        p {
          margin-bottom: 0.5rem;
          text-align: center;
          font-size: 15px;
          color: var(--neutral-dark-80);
        }
      }
    }

    .formations {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .btn_content {
        padding-bottom: 30px;

        & > button {
          @extend %btn;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    .services {
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer {
    .top {
      grid-template-columns: 1fr 1fr;
      gap: 23px;
    }
  }
}

@media (max-width: 500px) {
  .section {
    .services {
      grid-template-columns: 1fr;
    }
  }

  .formations {
    .formation {
      grid-template-columns: 1fr !important;
    }
  }
}
