.home {
  .section-blue {
    background: var(--info-pressed);
    color: var(--neutral-light-10);
  }

  .section {
    @extend %container;
    .cards {
      display: flex;
      // align-items: center;
      // justify-content: space-around;
      // padding: 15px;
      // flex-wrap: wrap;
      gap: 30px;
    }

    .services {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .service {
        width: 80%;
        height: fit-content;
        position: relative;
        background-color: var(--primary-surface);
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 25px;
        border-radius: 5px;
        margin-bottom: 30px;
        border: 1px solid var(--primary-border);
        text-align: center;

        .ico {
          background: var(--neutral-dark-60);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          font-size: 24px;
          display: grid;
          align-items: center;
          justify-content: center;
          color: var(--info-surface);
          margin-right: 0px;
        }

        & > h1 {
          color: var(--info-hover);
        }

        & > p {
          color: var(--neutral-dark-90);
          font-weight: bold;
        }
      }
    }

    .formations {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > .btn_content {
        padding-bottom: 30px;

        & > button {
          @extend %btn;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    .services {
      grid-template-columns: 1fr 1fr;
    }
  }

  .footer {
    .top {
      grid-template-columns: 1fr 1fr;
      gap: 23px;
    }
  }
}

@media (max-width: 500px) {
  .section {
    .services {
      grid-template-columns: 1fr;
    }
  }

  .formations {
    .formation {
      grid-template-columns: 1fr !important;
    }
  }
}
