%container {
  padding: 7px calc(100vw - 95%);
}

%notif {
  background: var(--danger);
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
}

%input {
  width: 97%;
  height: 40px;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: inset 0px 0px 2px 0px var(--neutral-dark-60);
  border: 1px solid var(--neutral-dark-60);
  transition: box-shadow 0.2s ease-in-out;

  &::placeholder {
    color: var(--neutral-dark-90);
  }

  &:focus {
    border: 1px solid var(--primary);
  }
}

%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  border: none;
  padding: 10px 20px;
  background: var(--primary);
  color: var(--neutral-light-20);
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 0px 5px 0px var(--neutral-dark-80);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: var(--primary-hover);
  }

  &:focus {
    outline: none;
  }
}

%a {
  text-decoration: none;
  color: var(--neutral-light-20);
  transition: all 0.4s;

  &:hover {
    color: var(--neutral-dark-100);
  }
}

%sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  h1 {
    position: relative;
    color: var(--primary);

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 5px;
      background-color: var(--neutral-dark-100);
      bottom: 0px;
    }
  }

  p {
    margin: 25px;
  }
}

%cardContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
